# Maven target directory
target/
.idea/
*.iml

# Local development files
*.log
.env
*.bak
*.swp

# Docker related files in other directories (if any)

# .git directory (source control)
.gitignore
.git/

# Files that are not needed in the Docker image
README.md
LICENSE

# Temporary or backup files
*.tmp
